button {
  font-size: 12px;
  line-height: 17px;
  color: #fff;

  padding: 14px 70px;
  margin-right: 4px;
  position: relative;
  letter-spacing: 0.5px;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  height: 50%;
  width: 25%;
  text-align: center;
}

button.success {
  background: #76d7c4;
}

button.cancel {
  background: #e74c3c;
}

button.waiting {
  background: #85c1e9;
}

.btn-group-container {
  padding: 10px 10px;
}
