button {
  font-size: 12px;
  padding: 12px 12px;
  margin-right: 4px;
  outline: 0;
  position: relative;
  letter-spacing: 0.5px;
  border: none;
  transition: all 0.3s ease 0s;
  color: #fff;
}

button.success {
  background: #76d7c4;
}

button.cancel {
  background: #e74c3c;
}

button.waiting {
  background: #85c1e9;
}

.btn-group-container {
  padding: 10px 10px;
}
